body {
    align-items: center;
    text-align: center;
    background-color: rgb(4, 112, 254);
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    color: white;
    margin: 0px;
}

button {
    all: unset;
    background-color: white;
    color: rgb(47, 46, 46);
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
    margin: 30px;
    text-decoration: none;
    transition: all 0.3s;
}

button:hover {
    background-color: black;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
    margin: 30px;
    text-decoration: none;
}

.globalHeader {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 20px 0;
    margin: 0;
    margin-bottom: 5%;
}

.globalHeaderTitulo {
    padding-top: 45px;
    font-size: 30px;
}

.globalFooterContainer {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: black;
    padding-top: 80px;
    bottom: 0;
}

.globalFooter {
    text-align: center;
}

.globalFooterFoto {
    width: 360px;
    height: 200px;
}

.verArtesanosMensajeTitulo {
    font-size: 25px;
}

table {
    height: auto;
    width: 80%;
    margin: 8%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white; 
    border-collapse: collapse;
}

tr {
    cursor: pointer;
    border: 1px solid white; 
}

td {
    padding: 10px;
    border: 1px solid white; 
}

th {
    padding: 20px;
    font-size: 20px;
    border: 1px solid white; 
}

.verArtesanosTituloTabla {
    cursor: default !important;
}

.verArtesanosContenedor {
    flex-grow: 1;
}

a {
    background-color: white;
    color: rgb(47, 46, 46);
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
    margin: 30px;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    background-color: black;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
    margin: 30px;
    text-decoration: none
}

.pagination {
    justify-content: center;
    list-style-type: none; 
    padding: 0; 
    display: flex; 
    height: 100px;
}

.page-item_disabled {
    display: none;
}

.verArtesanosContenedor{
    min-height: 1500px;
}

.fotoHeader {
    background-color: black;
    width: 150px;
    height: 100px;
    margin: 0;
}

.fotoHeader:hover {
    text-decoration: none !important;
    width: 150px;
    height: 100px;
    margin: 0;
}